# tlk_core.service

[Unit] 
Description= tlk_core server, the modems listener.
Documentation= https://versioning.dedemapp.com/fdifazio/tlk_python/blob/master/readme.md

[Service] 
Type= simple 

ExecStart= /home/kdl_admin/tlk_python/net_core_v2/bin/Debug/netcoreapp3.1/ubuntu.18.04-x64/tlk_core
TimeoutStopSec= 15

ExecStop= /bin/kill -2 $MAINPID

[Install]
WantedBy= multi-user.target